<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>{{ block "title" . }}{{ .Title }} · {{ .Site.Title }}{{ end }}</title>
    {{ $css := resources.Get "css/main.scss" | toCSS | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $css.RelPermalink }}" integrity="{{ $css.Data.Integrity }}">
</head>

<body>
    <div class="container">
        <header>
            <nav>
                <a href="{{ "" | relURL }}">Home</a>
                <a href="{{ "blog/" | relURL }}">Blog</a>
                <a href="{{ "projects/" | relURL }}">Projects</a>
                <a href="{{ "notes/" | relURL }}">Notes</a>
                <a href="{{ "resume/" | relURL }}">Resume</a>
                <a href="{{ "hire/" | relURL }}">Hire</a>
                <a href="{{ "contact/" | relURL }}">Contact</a>
                <a href="{{ "about/" | relURL }}">About</a>
            </nav>
        </header>
        <main>{{ block "main" . }}{{ end }}</main>
        <footer><small>© {{ now.Year }} {{ .Site.Title }}</small></footer>
    </div>

</body>

</html>