{{ define "main" }}
    <h2>{{ .Title }}</h2>
    {{ .Content }}

    {{ $url := printf "%s/%s/repos" .Site.Params.gh_url .Site.Params.gh_user }}

    {{/* {{ $repos := getJSON $url }} */}}
    {{ $repos := slice }}

    {{ with try (resources.GetRemote $url) }}
        {{ with .Err }}
            {{ errorf "Failed to fetch %q: %s" $url . }}
        {{ else with .Value }}
            {{ $repos = .Content | transform.Unmarshal }}
        {{ else }}
            {{ errorf "Unable to get remote resource %q" $url }}
        {{ end }}
    {{ end }}

    <section class="oss">
        {{ range $repos }}
        <article>
            <h3><a href="{{ .html_url }}">{{ .name }}</a></h3>
            <p>{{ .description }}</p>
        </article>
        {{ end }}
    </section>

{{ end }}